/*Скролбар стили*/
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: rgb(37, 38, 68);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(174, 174, 214, 0.425);
  border-radius: 0;
  border: 0;
}
/*Стили ошибки*/
.containerError {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.error {
  width: 400px;
  padding: 40px;
  text-align: center;
}
.error h1 {
  font-size: 125px;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.error h2 {
  margin: -30px 0 0 0;
  padding: 0px;
  font-size: 47px;
  letter-spacing: 12px;
}
@media screen and (max-width: 1000px) {
  .containerError {
    -webkit-transform: scale(.85);
    transform: scale(.85);
  }
}
@media screen and (max-width: 850px) {
  .containerError {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }
}
@media screen and (max-width: 775px) {
  .containerError {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
  }
}
@media screen and (max-width: 370px) {
  .containerError {
      -webkit-transform: scale(.6);
      transform: scale(.6);
    }
}
a{
  color: dodgerblue;
}
a:hover{
  color: blue;
}