# Принудительное задание кодировки
AddDefaultCharset utf-8

# Включение движка редиректа
RewriteEngine On
# Базовый URL для преобразований (даем серверу знать что мы работаем через /)
RewriteBase /

# REQUEST_FILENAME - Полный путь в файловой системе сервера к файлу или скрипту соответствующим этому запросу.
# Сравниваемая cтрока считается путем, проверяется существование этого пути и то что этот путь является обычным файлом, размер которого больше нуля.
#RewriteCond %{REQUEST_FILENAME} -s [OR]
# Сравниваемая cтрока считается путем, проверяется существование этого пути и то что этот путь является символической ссылкой.
#RewriteCond %{REQUEST_FILENAME} -l [OR]
# Сравниваемая строка считается путем, проверяется существование этого пути и то что этот путь является каталогом.
#RewriteCond %{REQUEST_FILENAME} -d
# СравниваемаяСтрока считается путем, проверяется существование этого пути иточто этот путь не является обычным файлом.
#RewriteCond %{REQUEST_FILENAME} !-f
# Сравниваемая строка считается путем, проверяется существование этого пути и то что этот путь не является каталогом.
#RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule - определяет правила для механизма преобразований
# [NC] - делает шаблон нечувствительным к регистру, когда он применяется к текущему URL
# [L] - останавливает процесс преобразования на этом месте и не применяет больше никаких правил преобразований
#RewriteRule ^.*$ [NC,L]
# Переадресация любого запроса в index.php
RewriteRule ^(files) - [L]
RewriteRule ^(.*)$ index.php [NC,L]
AddType 'text/html; charset=utf-8' .html .htm .shtml